.flex {
    display: flex;
}
.flex-end {
    align-items: flex-end;
}
.flex-start {
    align-items: flex-start;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-start {
    align-items: flex-start;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.align-ver {
    vertical-align: middle;
}
.grid {
    display: grid;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.hidden {
    overflow: hidden;
}
.scroll {
    overflow: scroll;
}