.hover {
    hover: transparent;
}

.hover-white:hover {
    background-color: white;
    z-index: 999;
}

.hover-red {
    color: black;
}

.hover-red:hover {
    color: #cf1f50;
}

.hover-green:hover {
    color: #64d696;
}