$base-color: rgba(91, 201, 135, 0.8);
$base-color-01: rgba(91, 201, 135, 0.1);
$font-color:  rgba(67, 37, 93, 0.8);

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
	color: $font-color;
}

html {
	height: 100vh;
  width: 100%;
	box-sizing: border-box;
}

body {
	background-color: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, $base-color, $base-color-01);
	background-repeat:no-repeat;
	background-size: cover;
}

.form__container{
	width: 100%;
	margin-top: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.pd {
	padding: 16px;
}

.footer {

	background-color: azure;
	margin: 4rem 0;
	text-align: center;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 375px) {
    body {
        width: 375px;
        margin: auto;
    }
}

.UserSettings,
.form-signup,
.form-signin {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	// padding: 8px;
}
