@import 'layout/padding.css';
@import 'layout/margin.css';
@import 'layout/width.css';
@import 'layout/positions.css';
@import 'layout/display.css';
@import 'layout/font.css';
@import 'layout/background.css';
@import 'layout/height.css';
@import 'layout/border.css';
@import 'layout/line-height.css';
@import 'layout/transform.css';
@import 'layout/box-shadow.css';
@import 'layout/z-index.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

html {
    height: 100%;
    text-align: center;
    color: rgba(58, 37, 101, 0.793);
}

h2 {
  font-size: 1.2em;
}

body {
    width: 360px;
    margin: auto;
    height: 100%;
    background-color: rgb(246, 241, 239); /* For browsers that do not support gradients */
    background-repeat: repeat-y;
    background-size: cover;
}

button, input {
    border: none;
    padding: 0;
    margin: 0;
    color:rgba(0, 0, 0, 0.6);
    outline: none;
    font-size: 1rem;
}

button, input {
  background-color: transparent;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    color:rgba(0, 0, 0, 0.4);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* 
@media screen and (min-width: 360px) {
    body {
        width: 360px;
        margin: auto;
    }
} */

