$base-color: #E0E1E0;

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
<<<<<<< HEAD
	animation-duration: .3s;
	font-family: 'Red Hat Display',
=======
	animation-duration: .1s;
>>>>>>> d1279516d7cfd4538caf7e6cb6a455b26cbaceef
	// color: $font-color;
}

.home {
	background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
	height: 100vh;
	background-size: 150vh;
	background-position: center;
}

// html {
// 	height: 100vh;
//   width: 100%;
// 	box-sizing: border-box;
// }

.MuiOutlinedInput-root {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
}

fieldset {
	display: none;
}

label {
	color: 'red'
}

body, html {
	background-color: $base-color; /* For browsers that do not support gradients */
	// background-image: linear-gradient(to bottom right, $base-color, $base-color-01);
	box-sizing: border-box;
	height: 100vh;
  width: 100%;
}

.venue--card {
	background-color: #9c27b0;
}

.form__container{
	width: 100%;
	margin-top: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.pd {
	padding: 16px;
}

.align{
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	// margin-bottom: 32px;
}

.action-align {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
}

.icons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	border: 1px solid black;
	gap: 16px;
	margin: 16px;
	padding: 32px;
}

.fav-icon {
	position: absolute;
	right: 38px;
	top: 38px;
	color: #4B6458;
	padding: 8px;
	background-color: white;
	border-radius: 8px;
	opacity: .2;
}

.ul-container {
margin-bottom: 64px;
}

.arrow-text {
	display: flex;
	gap: 16px;
	


}
.footer {
	background-color: #9c27b0;
	text-align: center;
	position: fixed;
  bottom: 0;
	min-width: 375px;
	color: #fff;
	margin:0 auto;
	padding: 16px 0;
}



.UserSettings,
.form-signup,
.form-signin {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	// padding: 8px;
}
